:root {
    --gutter: 20px;
}

.carousel-item img {
    margin: 0 auto;
}

.carousel {
    width: 100%;
    margin: auto;
    display: block;
}
h1 {
    text-align: left;
    text-transform: uppercase;
    padding-left: 3%;
    font-size: 42px;
    margin-top: 60px; 
}

.card {
    display: flex;
    padding: 20px;
    margin: 2%;
    background-color: black;
    border-radius: 20px;
}

.card-right {
    color: white;
    width: 50%;
    //vertical-align: middle;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
}

.card-left {
    width: 50%;
    
}

form {
    margin-left: 40%;
    color: black;
    font-size: 24px;
}

.photoCard {
    border-radius: 20px;
    width: 100%;
}

.labelCard{
    font-size: 36px;
    //margin-top: 180px;
}

.btn{
    margin: auto;
    //width: 80%; 
    padding: 6%; 
    font-size: 24px;
}

.demo{
    padding: 30px;
    background-color: black;
    color: white;
}


.bio {
    padding: 3%;
    font-size: 24px;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin: 2%;
}

.btn_collapse {
    margin: 0;
    font-size: 24px;
    border-radius: 6px;
    text-align: left;
    background-color: #fffa6b;
    padding: 24px;
}

a{
    color: black; 
}

nav {
    background-color: black;
    color: white;
    padding: 3% 6%;
    
}

.nav-link {
    font-size: 24px;
    display: inline;
    margin: 0 6%;
}

nav tr:nth-child(1){
    margin-inline-start: 0;
}

.leftMenu {
    background-color: #fffa6b;
    color: black;
    font-size: 18px;
   
}

.navLeft {
    //text-transform: uppercase;
    height: 100%;
}

.row {
    display: flex;
    //flex-wrap: wrap;
}
.actorFoto img {
    width: 100%; /* Делаем изображение адаптивным */
    height: auto; /* Обеспечиваем сохранение пропорций */
}

.actor{
    padding: 3%;
    font-size: 24px;

}

.actCon-1{
    padding-bottom: 30px;
    font-size: 42px;
}

.actorContainer {
    margin: 3%;
}

.cards {
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 3%;
    margin: 3%;
    font-size: 160px;
    padding-bottom: 6%;
}

.catalog {
    background-color: #fffa6b;
    margin: 3%;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.phCard {
    border-radius: 20px;
    width: 100%;
}

.labCard{
    margin-bottom: 6%;
    height: 18%;
}

.lab{
    font-size: 16%;
}

@media screen and (max-width:768px) {
    .row {
        flex-direction: column; /* Изменяем расположение на вертикальное */
    }

    .actor {
        order: 1; /* Блок информации будет первым */
        width: 100%;
    }

    .actorFoto {
        order: 2; /* Фотография будет второй */
        margin-top: 20px; /* Добавляем отступ сверху для разделения элементов */
        width: 100%;
    }

    .cards{
        width: 100%;

    }

    .imgNone {
        display: none;
    }
}



table {
    width: 90%;
    border: 1px solid grey;
    margin: auto;
    //padding: 10px;
    margin-bottom: 3%;
}

th {
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    text-align: center;
    padding: 12px;
}

td {
    text-align: center;
    padding: 6px;
    font-size: 18px;
}

caption {
    font-size: 24px;
    margin: 12px;
    color: black;
    font-size: 36px;
}

th, td {
    padding: 7px, 10px, 10px, 10px;
}

tbody tr:nth-child(even) {
    background-color: #fffa6b;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(1) {
    background-color: black;
    color: white;
} 